<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication_bonapptit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/homepageStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".loginActivity"
            android:label="@string/loginpage"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".signupActivity"
            android:label="@string/signuppage"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".menur1Activity"
            android:label="@string/menupage"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".activity_grid_item"
            android:label="@string/menudpage"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".activity_grid_item2"
            android:label="@string/menudpage"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".notificationsActivity"
            android:label="@string/notificationspage"
            android:parentActivityName=".menur1Activity"
            android:theme="@style/homepageStyle"></activity>
        <activity
            android:name=".grouprActivity"
            android:label="@string/grouprpage"
            android:parentActivityName=".groupActivity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".creategroupActivity"
            android:label="@string/creategrouppage"
            android:parentActivityName=".groupActivity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settingpage"
            android:parentActivityName=".menur1Activity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".profileActivity"
            android:label="@string/profilepage"
            android:parentActivityName=".menur1Activity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity
            android:name=".editprofileActivity"
            android:label="@string/editprofilepage"
            android:parentActivityName=".profileActivity"
            android:theme="@style/homepageStyle">
        </activity>
        <activity android:name=".groupActivity"
            android:label="@string/grouppage"
            android:parentActivityName=".menur1Activity"
            android:theme="@style/homepageStyle">
        </activity>
    </application>

</manifest>